  <header>
	<!--- Navbar --->
	<nav class="navbar navbar-expand-lg">
		<div class="container">
            <a href="www.stjosephstechnology.ac.in" class="logo"><img src="../assets/Media/sjitLogo.png" width="60px" height="60px"></a>
			<div class="collapse navbar-collapse" id="nvbCollapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item pl-1">
						<a class="nav-link" routerLink="/home"><i class="fa fa-home fa-fw mr-1"></i>Home</a>
                    </li>
                    <li class="nav-item pl-1">
						<a class="nav-link" routerLink="/research"><i class="fa fa-home fa-fw mr-1"></i>Research</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/profile">
                          Profile
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" routerLink="/research/generaldetails" >General Details</a>
                          <a class="dropdown-item" routerLink="/research/personaldetails">Personal Details</a>
                          <a class="dropdown-item" routerLink="/research/educationaldetails">Educational Details</a>
                          <a class="dropdown-item" routerLink="/research/experiencedetails">Experience Details</a>
                        </div>
                      </li>

                     


                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/logbook">
                            LogBook
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Update attendance</a>
                          <a class="dropdown-item" href="#">Syllabus Coverage</a>
                        </div>
                      </li>


                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/marks">
                            Marks
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Update Marks</a>
                          <a class="dropdown-item" href="#">View Marks</a>
                          <a class="dropdown-item" href="#">Calculate Percentage</a>

                        </div>
                      </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/universityresults">
                          University Results
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Update Results</a>
                          <a class="dropdown-item" href="#">View Results</a>
                            </div>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/notes">
                          Notes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Update Notes</a>
                          <a class="dropdown-item" href="#">View Notes</a>
                            </div>
                      </li>
					<li class="nav-item pl-1">
						<a class="nav-link"  routerLink="/forms"><i class="fa fa-th-list fa-fw mr-1"></i>Forms</a>
					</li>
					<li class="nav-item pl-1">
						<a class="nav-link" routerLink="/mydetails" ><i class="fa fa-info-circle fa-fw mr-1"></i>My Details</a>
					</li>
				
				</ul>
			</div>
		</div>
	</nav>
	<!--# Navbar #-->
    </header>
   